body {
  font-family: "GalaxieCopernicus";
  font-size: $content-font-size;
  color: $font-content-color;
}
p {
  margin: 0;
}

a {
  color: $font-content-color;
  &:hover {
    text-decoration: none;
    color: $font-content-color;
  }
}

ul {
  padding: 0;
  list-style: none;
}

.title {
  font-family: "SunsetGothicBold";
  text-transform: uppercase;
  line-height: 95%;
}

h1.title {
  font-size: $hero-font-size;

}

h2.title {
  font-size: $block-title-font-size;
}

.blockcard {
  &__title {
    font-size: $sub-title-font-size;
    margin: 24px 0;
    text-transform: capitalize;
  }

  &__wrapper {
    max-width: 100%;
    // padding-left: 85px;
  }
}

.section-padding {
  padding: 60px 0;
}
.section-bgimg {
  width: 85%;
  &--right {
    margin-left: auto;
  }
}

.dots {
  &__item {
    display: inline-block;
    opacity: 0.2;
    padding: 0 2px;
    &--active {
      opacity: 1;
    }
  }
}

.line {
  width: 1.2px;
  height: 25px;
  opacity: 0.2;
  background: $off-black;
}

.sp-displaynone {
  display: none;
}

.pc-displaynone {
  display: block;
}

.row-sp--right {
  margin-right: 20px;
  margin-left: 1px;
}
.row-sp--left {
  margin-left: 40px;
}

@media screen and (min-width: 1024px) {
  .sp-displaynone {
    display: block;
  }

  .pc-displaynone {
    display: none;
  }

  body {
    font-size: 20px;
  }

  h1.title {
    font-size: 64px;
  }

  h2.title {
    font-size: 52px;
  }

  .section-padding {
    padding: 120px 0;
  }

  .blockcard {
    &__title {
      margin: 48px 0;
      font-size: 47px;
    }
  }

  .row-sp--right {
    margin-right: -15px;
    margin-left: -15px;
  }
  .row-sp--left {
    margin-left: -15px;
  }
}
