$peach-vibe:#FFD7B4;
$peach: #EFE1D4;
$dusty-green: #C3C3B3;
$dusty-lilac: #E1CECC;
$black: #000;
$off-black:#474952;

// COLOR VARIABLES

$hero-font-size:84px;
$block-title-font-size: 63px;
$card-title-font-size:28px;
$sub-head-font-size:47px;
$content-font-size:27px;

// FONT SIZE VARIABLE


$font-content:$black;
$bg-1:$peach;
$bg-2:$dusty-green;
$bg-3:$dusty-lilac;

// DERIVED VARIABLES