$peach-vibe:#FFD7B4;
$peach: #EFE1D4;
$dusty-green: #C3C3B3;
$dusty-lilac: #E1CECC;
$black: #000;
$off-black:#474952;

// COLOR VARIABLES

$hero-font-size:64px;
$block-title-font-size: 52px;
$card-title-font-size:28px;
$sub-head-font-size:47px;
$content-font-size:16px;

// FONT SIZE VARIABLES


$font-content-color:$black;
$font-content-lightcolor:$off-black;
$link-color: $black ;
$link-color-hover:$peach;
$button-bg:$peach;
$button-bg-hover: $black;
$lang-selector-bg: $peach-vibe;
$bg-1:$peach;
$bg-2:$dusty-green;
$bg-3:$dusty-lilac;



// DERIVED VARIABLES