.navbar {
  background-color: $bg-1;
  padding: 20px 0;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    display: inline-block;
    padding: 0 20px;
    line-height: 39px;
    vertical-align: top;
    &--register {
      font-family: "SunsetGothicBold";
      float: right;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__logo {
    padding-right: 30px;
  }
}

@media screen and (min-width: 1074px) {
  #navbar {
    background-color: $peach-vibe;
    position: fixed;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 9;
  }
}
