.navbar {
  background-color: $bg-1;
  padding: 20px 0;
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  &__item {
    display: inline-block;
    padding: 0 20px;
    line-height: 95%;
    vertical-align: top;
    &--register {
      font-family: "SunsetGothicBold";
      float: right;
      font-size: 14px;
      line-height: 95%;
    }
  }

  &__logo {
    padding-right: 30px;
  }
}

@media screen and (min-width: 1074px) {
  #navbar {
    background-color: $peach-vibe;
    position: fixed;
    width: 100%;
    display: block;
    transition: top 0.3s;
    z-index: 9;
  }
}

// REWRITTEN STYLES

.navbar-nav {
  display: block;
}

.dropdown-toggle::after {
  display: none;
}

@media all and (min-width: 992px) {
  .navbar {
    .nav-item {
      .dropdown-menu {
        display: none;
      }

      &:hover {
        .dropdown-menu {
          display: block;
          width: 100%;
          padding: 40px 0;
          margin-top: -5px;
        }
      }
    }
  }

  .dropdown {
    position: initial;

    &-menu {
      border: none;
      border-radius: 0;
      background-color: $peach-vibe;
    }

    &__item {
      font-family: "SunsetGothicBold";
      font-size: 28px;
      line-height: 200%;
      text-transform: uppercase;
      opacity: 0.5;

      &:hover{
        opacity: 1;
      }
      &--active {
        opacity: 1;
      }
    }

    &__list{
      border-right: solid 1px;
    }
  }

  // .navbar .nav-item:hover .dropdown-menu {
  //   width: 100%;
  // }

  a#navbarDropdownMenuLink {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 3em;
    margin: -2.6em;
  }
}
